.background_body {
background: radial-gradient(
    circle at top,     /* Kreis oben zentriert */
    #EAF5F6 0%,      /* hell in der Mitte */
    #EDEDED 55%,     /* dunkler nach außen */
    #D6ECF1 100%
  );
  padding-left: 280px;
  min-height: 100vh;
}
