.chat-container {
  display: block;
  max-width: 800px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 0 8px rgba(15, 23, 42, 0.2);
  margin-bottom: 200px;
  padding-right: 20px;
}
