.excercise_card {
  display: block;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 10px rgba(15, 23, 42, 0.06);
}


.excercise_card:hover {
  border-color: #cbd5f5;
  box-shadow: 0 4px 10px rgba(15, 23, 42, 0.09);
}

.exercises-container {
  display: grid;
  margin-left: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.exercises-header {
  display: grid;
  margin-left: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.exercises-footer {
  display: grid;
  margin-left: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1A4782 !important;
  margin-bottom: 16px !important;
}

.exercises-new-container {
  display: grid;
  max-width: 768px;
  margin-left: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.messages-container {
  display: grid;
  max-width: 768px;
  margin-left: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

