<footer>
  <div class="footer-transparent">
    <span class="nav-item">© 2026 Lingocoach</span>
    <ul class="nav">
      <li class="nav-item"><%= link_to "Imprint" %></li>
      <li class="nav-item"><%= link_to "Data privacy" %></li>
    </ul>
  </div>
</footer>
