<footer class="footer-transparent">
  <span class="footer-copy">© 2026 Lingocoach</span>

  <ul class="footer-links">
    <li><%= link_to "Imprint", "#", class: "footer-link" %></li>
    <li><%= link_to "Data privacy", "#", class: "footer-link" %></li>
  </ul>
</footer>
