<turbo-frame id="chat_frame_<%= @chat.id %>">
  <div class="chat-wrapper">
    <div class="exercises-header">
      <h3 id="chat_title"><%= @chat.title %></h3>
    </div>

    <div
      id="messages"
      class="chat-messages"
      data-controller="chat"
    >
      <%= render "messages/messages", messages: @chat.messages %>
    </div>

    <div id="new_message_container" class="chat-input">
      <%= render "messages/form", chat: @chat, message: (@message || @chat.messages.build) %>
    </div>
  </div>
</turbo-frame>
