// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "pages/sidebar";
@import "pages/excercises";
@import "pages/background_body";
@import "pages/fixed-corner-image";
@import "pages/footer";
@import "pages/chats";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.turbo-progress-bar {
  display: none !important;
}
