<h1>Exercises</h1>
<p>Select an exercise to practice.</p>

<% if @exercises.blank? %>
  <p>No exercises yet.</p>
<% else %>
  <ul>
    <% @exercises.each do |exercise| %>
      <li style="margin-bottom: 8px;">
        <%= link_to exercise.title, exercise_path(exercise) %>
        <% if exercise.respond_to?(:language) && exercise.language.present? %>
          <small style="color:#666;">(<%= exercise.language %>)</small>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-primary' %>